<!--Sezione del pacchetto viaggio-->
<section>
    <div class="container-fluid text-center m-5">
        <div class="row">
        <!--Pagina con i viaggi-->
        <div id="package" class="col-6">
              
        </div>
        <div class="col-4 m-2">
            <h3>Inviaci un messaggio per avere piu' informazioni</h3>
            <form onsubmit="sendForm(event)" method="post">
                <!-- Name input -->
                <div class="form-outline mb-4">
                    <input type="text" id="Name" name="Name" class="form-control" />
                    <label class="form-label" for="Name">Name</label>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" id="Email" name="Email" class="form-control" />
                    <label class="form-label" for="Email">Email address</label>
                </div>

                <!-- Message input -->
                <div class="form-outline mb-4">
                    <textarea class="form-control" id="Message" name="Message" rows="4"></textarea>
                    <label class="form-label" for="Message">Message</label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-warning btn-block mb-4">Send</button>
            </form>
        </div>
        </div>
    </div>
</section>


@section Script{
<script type="text/javascript">
    
    var url = window.location.pathname;
    var id = url.substring(url.lastIndexOf('/') + 1);

load(id);

function load(parameterId){
    document.getElementById('package').innerHTML = '';

    axios.get('/api/Travels/GetById/' + parameterId).then((result) => {
               
                if (result.data.id == parameterId)
                {
                    document.getElementById('package').innerHTML += 
                    `
                     <div class="col-6">
                        <div class="shadow-lg text-center pb-3 rounded-bottom">   
                        <figure class="figure">
                            <img src="${result.data.image}" class="figure-img w-100 mb-0" alt="Immagini luoghi">
                                <figcaption class="figure-caption bg-warning">
                                    <h4 class="text-uppercase text-white pt-3 pb-3">${result.data.title}</h4>
                                </figcaption>
                        </figure>
                        <p class="mb-2">${result.data.description}</p>
                        <hr class="mb-2 text-warning border border-3 border-warning">
                        <span class="fw-bold m-3">${result.data.price} &euro;/person</span>
                        <hr class="mb-2 text-warning border border-3 border-warning">      
                        </div>
                    </div>
                    `
                }
                
            }).catch((error) => {
                console.log("Errore: " + error);
            });
        }

function sendForm(event) {
    event.preventDefault();
    
    var name = document.getElementById('Name').value;
    var email = document.getElementById('Email').value;
    var message = document.getElementById('Message').value;
    var idPackage = id;

    var request = {
        Name: name,
        Email: email,
        Message: message,
        TravelId: idPackage
    }

axios.post('/api/Travels/Post/' + id, request)
  .then((request) => {
      alert("Messaggio inviato correttamente");

      window.location.assign(url);
  })
  .catch((error) => {
    console.log(error);
  });
}
</script>
}
